
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Is Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.isActive }}</td>
        <td>
          <button class="btn btn-primary me-2" (click)="edit(product.id)">Edit</button>
          <button class="btn btn-danger" (click)="delete(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  